<!-- <p>login works!</p> -->
<h1 id="header">Login</h1>
<form action="">
<div>
    <label>Username : </label>
    <input type="text" placeholder="name" id="username"/>
</div>
<br />
<div >
    <label>Password : </label>
    <input type="password" id="password"/>
</div>
<div id="sub-div">
    <button id="submit">Submit</button>
</div>
</form>
<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->