<!-- <span>{{ title }} app is running!</span> -->

<!-- <div id="imgSec">
  <img src="assets/img/img1.jpg" alt="Imge of wall" id="image" />
  <div id="login">
    <app-login-page></app-login-page>
  </div>
</div> -->
<!-- <app-directives></app-directives> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<!-- <app-directive-switch></app-directive-switch> -->
<!-- <span appChangetext>Welcome</span> -->

<!-- <input type="text" [(ngModel)]="color">
<Button appButton [buttoncolor]="color">ClickMe</Button> -->

<!-- <app-task1></app-task1> -->
<!-- <app-task2></app-task2> -->
<!-- <app-task3></app-task3> -->
<!-- <app-my-form></app-my-form> -->
<!-- <app-ragistration></app-ragistration> -->
<!-- <app-tdfragistration></app-tdfragistration> -->
<!-- <div style="font-size: large; padding-top: 20px;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
Today's Date is: {{Today}}
</div>
<br>
<app-book-component [myInputMeassage]="MyInputMessage"></app-book-component> 

<app-data-sharing-student-child-to-parent (myOutput)="getchildData($event)"></app-data-sharing-student-child-to-parent>

<P> From Child Component: {{data}}</P> -->

<!-- <div class="container">
  <div class="row">
    <h2>Course Detail</h2>
    Select a course to view

    <select #course (change)="name = course.value">
      <option value="NodeJS">Node JS</option>
      <option value="Typescript">Typescript</option>
      <option value="Angular">Angular</option>
      <option value="ReactJS">ReactJS</option>
    </select>
    <br />
    <br />
    <app-course-list [cName]="name"></app-course-list>
  </div>
</div> -->

<!-- <app-course-list-output (onRagister)="getChild($event)"></app-course-list-output>

<p *ngIf="clicked">Successfully ragister: {{courseName}}</p> -->



<router-outlet></router-outlet>
