<!-- <span>{{ title }} app is running!</span> -->

<!-- <div id="imgSec">
  <img src="assets/img/img1.jpg" alt="Imge of wall" id="image" />
  <div id="login">
    <app-login-page></app-login-page>
  </div>
</div> -->
<!-- <app-directives></app-directives> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<!-- <app-directive-switch></app-directive-switch> -->
<!-- <span appChangetext>Welcome</span> -->

<!-- <input type="text" [(ngModel)]="color">
<Button appButton [buttoncolor]="color">ClickMe</Button> -->

<!-- <app-task1></app-task1> -->
<!-- <app-task2></app-task2> -->
<!-- <app-task3></app-task3> -->
<!-- <app-my-form></app-my-form> -->
<!-- <app-ragistration></app-ragistration> -->
<!-- <app-tdfragistration></app-tdfragistration> -->
<div style="font-size: large; padding-top: 20px;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
Today's Date is: {{Today}}
</div>
<br>
<app-book-component></app-book-component>

