<header>
  <span style="padding-top: 15px; font-size: large; font-weight: bold"
    >Employee</span
  >
  &nbsp;&nbsp;
  <!-- <div class="container"> -->
  <a type="button" data-bs-toggle="modal" data-bs-target="#myModal">
    Add Employee
  </a>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Employee</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="EmployeeDetail">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Employee Name</label
              >
              <input
                type="text"
                class="form-control"
                id="Name"
                placeholder="Name"
                formControlName="empName"
                [(ngModel)]="empName"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Phone No</label
              >
              <input
                type="number"
                class="form-control"
                id="phoneNo"
                placeholder="PhoneNo"
                formControlName="phoneNo"
                [(ngModel)]="phoneNo"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email Id</label
              >
              <input
                type="email"
                class="form-control"
                id="Email"
                placeholder="email"
                formControlName="email"
                [(ngModel)]="email"
              />
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-success"
            (click)="creatEmp()"
            data-bs-dismiss="modal"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal end -->
</header>
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Employee</th>
          <th scope="col">Employee phone NO:</th>
          <th scope="col">Employee Email Id</th>
          <th scope="col">Update Employee</th>
          <th scope="col">Delete Employee</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of emplist">
          <th>{{ emp._id }}</th>
          <th scope="row">{{ emp.empName }}</th>
          <td>{{ emp.empPhoneNo }}</td>
          <td>{{ emp.empEmail }}</td>
          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateModel"
              (click)="setObj(emp)"
            >
              update
            </button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteEmployee(emp._id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="updateModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Employee</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Employee Name</label
            >
            <input
              type="text"
              class="form-control"
              id="Name"
              placeholder="Name"
              name="Name"
              [(ngModel)]="updateempName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Phone No</label
            >
            <input
              type="number"
              class="form-control"
              id="phoneNo"
              name="phoneNo"
              placeholder="PhoneNo"
              [(ngModel)]="updatephoneNo"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email Id</label
            >
            <input
              type="email"
              name="email"
              class="form-control"
              id="Email"
              placeholder="email"
              [(ngModel)]="updateemail"
            />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-bs-dismiss="modal"
          (click)="updateEmp()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
